<!-- Desencriptar Archivo HTML -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="form-container">
        <h2>Desencriptar Archivo</h2>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post" enctype="multipart/form-data" class="formulario">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="boton-desencriptar">Desencriptar Archivo</button>
        </form>
    </div>
{% endblock %}